<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/records/" method="POST">
		Title: <input type="text" name="title"><br>
		Artist: <input type="text" name="artist"><br>
		Year: <input type="String" name="year"><br>
		First Edition: <input type="checkbox" name="first_edition"><br>
		<input type="submit">
	</form>
</body>
</html>