<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=record.title%></h1>
	<form action='/records/<%=record.id%>/edit'>
		<input type="submit" value="edit">
	</form>
	<form action='/records/<%=record.id%>?_method=DELETE' method='POST'>
		<input type="submit" value="delete">
	</form>
</body>
</html>